@import "core/funtions";
@import "core/mixins";
@import "core/variables";

@import "layout/header";
@import "layout/footer";
@import "layout/grid";


@import "components/hero";
@import "components/burguer";
@import "components/buttons";
@import "components/typography";
@import "components/list";

@import "pages/home";

@import "core/helpers";

* {
box-sizing: border-box;
}

body,html {
  height: 100%;
  margin: 0;
}
