.hamburguer {
  background-color: $color-primary-midtone;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  z-index: 1;
  align-content: center;
  display: flex;
  justify-content: center;
  transition: background-color ease-in-out 0.5s;
  &:hover {
    background-color: $color-secundary;
  }
}
