.button-scroll {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-positive {
  border: 2px solid $color-secundary;
  border-radius: 25px;
  height: 45px;
  width: 76px;
  display: flex;
  justify-content: center;
  &:hover {
      border: 2px solid $color-primary-dark;
      background-color: $color-primary-dark;
    }
}
.transition-postive {
  transition:
  background-color ease-in-out 1s,
  border ease-in-out 1s;
}

.button-negative {
  background-color: $color-secundary;
  height: 45px;
  width: 184px;
  border-radius: 25px;
  &:hover {
      background-color: $color-primary-dark;
    }
}
.transition-negative {
  transition: background-color ease-in-out 1s;
}

.button-top {
  line-height: 0;
  margin: -15px;
}
