body {
  font-family: $font-body-family;
  color: $font-color-dark;
  font-size: $font-size-s;
  line-height: $font-line-height-xs;
  font-weight: $font-weight-regular;

  @media all and (min-width: $media-tablet) {
    font-size: $font-size-m;
  }
}

.tilte-hero {
  font-family: $font-title-family;
  color: $font-color-light;
  text-shadow: 0px 2px 3px $color-dark-shadow;
  font-size: $font-size-big;
  line-height: $font-line-height-m;

  @media all and (min-width: $media-tablet) {
    font-size: $font-size-bigger;
    line-height: $font-line-height-l;
  }
  @media all and (min-width: $media-desktop) {
    font-size: $font-size-hero;
    line-height: $font-line-height-xl;
  }
}

.subtitle-hero {
  color: $font-color-light;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;

  @media all and (min-width: $media-tablet) {
    font-size: $font-size-l;
  }
}

.pretitle-section {
  color: $font-color-primary-midtone;
  font-size: $font-size-xxs;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-xs;

  @media all and (min-width: $media-desktop) {
    font-size: $font-size-xs;
  }
}

.title-section {
  font-family: $font-title-family;
  color: $font-color-dark;
  font-size: $font-size-l;
  line-height: $font-line-height-xs;

  @media all and (min-width: $media-tablet) {
    font-size: $font-size-xl;
    line-height: $font-line-height-s;
  }
  @media all and (min-width: $media-desktop) {
    font-size: $font-size-xxl;
  }
}

.introduction {
  color: $font-color-midtone
}

.highlight-content {
  font-family: $font-title-family;
  color: $font-color-dark;
  font-size: $font-size-s;
  line-height: $font-line-height-xs;

  @media all and (min-width: $media-tablet) {
    font-size: $font-size-l;
  }
}

.footer-font {
  color: $font-color-light;
  font-size: $font-size-xxs;
  font-weight: $font-weight-regular;
}

.menu-font {
  font-family: $font-title-family;
  color: $font-color-primary-dark;
  font-size: $font-size-xs;
  line-height: $font-line-height-s;
}

.button-font-positive {
  color: $font-color-secundary;
  font-size: $font-size-m;
  line-height: $font-line-height-s;
  &:hover {
    color: $font-color-light;
  }
}

.button-font-negative {
  color: $font-color-light;
  font-size: $font-size-m;
  line-height: $font-line-height-s;
}

span {
  color: $color-secundary;
}

.bold {font-weight: 700}
.medium {font-weight: 500}
.ligh {font-weight: 300}

.center {text-align: center;}
.left {text-align: left;}

.uppercase {text-transform: uppercase;}
